.animated-images-container {
  display: flex;
  overflow: hidden;
}

.animated-image {
  margin: 10px;

  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
width: 100px;
height: 110px;
  position: relative;
  background-color: #9c9c9c;
}
